.mh-menu{
	height: 385px;
	width: 44.5%;
	margin: 5% -3%;
	position: relative;
}
.mh-menu li{
	width: 300px;
	height: 30%;
}
.mh-menu li a.leftMenu{
	display: block;
	width: 280px;
	padding: 0px 10px;
	text-align: right;
	position: relative;
	z-index: 0;
	height: 100%;
	background: transparent;
	text-decoration: none;
}
.mh-menu li:hover a{
	background: rgba(225, 239, 240, 0.26);
}
.mh-menu li a span{
	display:block;
	color: black;
}
.mh-menu li a span:first-child{
	font-size: 18px;
	color: rgb(95, 94, 94);
	padding-top: 3%;
	padding-left: 8%;
	font-family: 'cicle_gorditagordita', Georgia, serif;
}
.mh-menu li a span:nth-child(2){
	font-weight: 500;
	font-style: italic;
	font-size: 28px;
	font-family: 'cicle_gorditagordita', Georgia, serif;
	-webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
	transition: color 0.2s linear;
}
.mh-menu li:nth-child(1):hover span:nth-child(2){
	color: #ae3637;
}
.mh-menu li:nth-child(2):hover span:nth-child(2){
	color: #c3d243;
}
.mh-menu li:nth-child(3):hover span:nth-child(2){
	color: #d38439;
}
.mh-menu li:nth-child(4):hover span:nth-child(2){
	color: #8e7463;
}
.mh-menu li div.menu {
	position: absolute;
	z-index: 1;
	left: 70%;
	top: 0px;
	opacity: 0;
	-webkit-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
	-moz-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
	-o-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
	-ms-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
	transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
}
.mh-menu li:hover div.menu{
	left: 45.5%;
	width: 90%;
	opacity: 1;
}